{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadoras</title>
</head>
<body>
    <!-- Link para a calculadora -->
    <a href="{% url 'calculator' %}">Calculadora</a>

    <!-- Link para a calculadora de juros simples -->
    <a href="{% url 'calc_simple_interest' %}">Calculadora de Juros Simples</a>

    <!-- Link para a calculadora de juros compostos -->
    <a href="{% url 'calc_compound_interest' %}">Calculadora de Juros Compostos</a>

    <!-- Link para a calculadora de empréstimo -->
    <a href="{% url 'calc_loan' %}">Calculadora de Empréstimo</a>

    <!-- Link para a calculadora de investimentos -->
    <a href="{% url 'calc_investment' %}">Calculadora de Investimentos</a>

    <!-- Link para a calculadora de prestações -->
    <a href="{% url 'calc_installment' %}">Calculadora de Prestações</a>
</body>
</html>