<!-- calculator/calc_investment.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadora de Investimento
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora de Investimento</h1>
    <p id="cor-letra-banner">Cálculo de investimento</p>
</div>
<div class="text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Calcular</button>
    </form>
    {% if montante %}
    <h2>Montante Total: R$ {{ montante }}</h2>
    {% endif %}
</div>

<div class="container mt-5">
    <p style= "margin-top:5%; font-size: 18px; color: #666">
        Sabe quando você quer investir seu dinheiro, mas não tem certeza de como seus investimentos vão crescer ao longo do tempo? É aí que entra a calculadora de investimentos! Ela é uma ferramenta que te ajuda a projetar o crescimento do seu dinheiro com base no valor inicial do investimento, na taxa de retorno esperada e no prazo de investimento. Assim, você consegue visualizar o potencial de crescimento dos seus investimentos e tomar decisões mais informadas sobre onde aplicar seu dinheiro. É como ter um mapa para te guiar na jornada de fazer seu dinheiro render mais! Experimente nossa calculadora de investimentos e descubra como alcançar seus objetivos financeiros de forma mais eficiente!
    </p>
</div>
{% endblock content %}
