<!-- calculator/calc_simple_interest.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadora de Juros Simples
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora de Juros Simples</h1>
    <p id="cor-letra-banner">Cálculo de juros simples</p>
</div>
<div class="text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Calcular</button>
    </form>
    {% if montante %}
    <h2>Montante Total: R$ {{ montante }}</h2>
    {% endif %}
</div>

<div class="container mt-5">
    <p style= "margin-top:5%; font-size: 18px; color: #666">
        Você já ouviu falar em juros simples? É simples mesmo! Imagine que você emprestou dinheiro para alguém ou pegou emprestado de um banco. Os juros simples são uma forma de calcular quanto você vai pagar a mais por esse empréstimo. Funciona assim: você paga ou recebe uma porcentagem do valor inicial a cada período de tempo, chamado de taxa de juros. Então, quanto maior o tempo que você fica com o dinheiro emprestado ou emprestando, mais juros simples acumula. É como uma taxa de aluguel pelo uso do dinheiro. Fácil de entender, né? Experimente usar nossa calculadora de juros simples para descobrir quanto vai pagar ou receber!
    </p>
</div>
{% endblock content %}
