<!-- calculator/calc_compound_interest.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadora de Juros Compostos
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora de Juros Compostos</h1>
    <p id="cor-letra-banner">Cálculo de juros compostos</p>
</div>
<div class="text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Calcular</button>
    </form>
    {% if montante %}
    <h2>Montante Total: R$ {{ montante }}</h2>
    {% endif %}
</div>

<div class="container mt-5">
    <p style= "margin-top:5%; font-size: 18px; color: #666">
        Sabe o que são juros compostos? Eles são um pouco mais complexos que os juros simples, mas não se preocupe, vamos explicar! Quando você empresta ou toma emprestado dinheiro com juros compostos, a cada período de tempo, os juros são calculados não apenas sobre o valor inicial, mas também sobre os juros acumulados anteriormente. Isso significa que a cada período, o valor dos juros aumenta, pois são calculados sobre um montante cada vez maior. Por isso, os juros compostos podem crescer mais rapidamente ao longo do tempo. É como uma bola de neve que vai aumentando enquanto rola montanha abaixo! Use nossa calculadora de juros compostos para ver como seus investimentos podem crescer ao longo do tempo!
    </p>
</div>
{% endblock content %}
