<!-- calculator/calc_list.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadoras
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora Financeira</h1>
    <p id="cor-letra-banner">Cálculo de juros simples, compostos, empréstimo, investimentos e prestações</p>
</div>
<br>
<!-- Título -->
<h2 id="centralizar">Escolha uma calculadora:</h2>
<br><br>
<!-- Link para a calculadora -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calculator' %}'" class="btn btn-warning">Calculadora Básica</button>
</div>
<br>
<!-- Link para a calculadora de juros simples -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calc_simple_interest' %}'" class="btn btn-warning">Calculadora de Juros Simples</button>
</div>
<br>
<!-- Link para a calculadora de juros compostos -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calc_compound_interest' %}'" class="btn btn-warning">Calculadora de Juros Compostos</button>
</div>
<br>
<!-- Link para a calculadora de empréstimo -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calc_loan' %}'" class="btn btn-warning">Calculadora de Empréstimo</button>
</div>
<br>
<!-- Link para a calculadora de investimentos -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calc_investment' %}'" class="btn btn-warning">Calculadora de Investimentos</button>
</div>
<br>
<!-- Link para a calculadora de prestações -->
<div class="d-grid gap-1 col-4 mx-auto">
    <button onclick="window.location.href='{% url 'calc_installment' %}'" class="btn btn-warning">Calculadora de Prestações</button>
</div>
{% endblock content %}
