<!-- calculator/calculator.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadora Básica
{% endblock page_title %}

{% block content %}
<style>
/* Container para posicionar elementos relativos */
.container {
    position: relative;
}

/* Estilizando o visor do resultado */
#resultado {
    position: absolute; /* Posicionamento absoluto para sobrepor outros elementos */
    top: -60px; /* Posiciona o visor acima da calculadora */
    width: 98%;
    height: 50px;
    font-size: 24px;
    font-family: Arial, sans-serif; /* Fonte do texto */
    text-align: center; /* Alinhamento do texto */
    background-color: #9B72D0; /* Cor de fundo do visor aproximada para roxo */
    border: 1px solid #7E57C2; /* Borda do visor aproximada para roxo */
    border-radius: 5px; /* Borda arredondada */
    box-sizing: border-box; /* Garante que a altura do visor não adicionará espaço extra */
    padding: 5px; /* Espaçamento interno do visor */
    color: #FFFFFF; /* Cor dos números dentro do visor alterada para branco */
}

/* Estilizando a tabela da calculadora */
table {
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    margin-top: 80px; /* Adiciona um espaço entre o visor e a calculadora */
}

/* Estilizando os botões da calculadora */
.botao {
    width: 60px; /* Largura dos botões */
    height: 60px; /* Altura dos botões */
    font-size: 24px; /* Tamanho da fonte dos botões */
    font-family: Arial, sans-serif; /* Fonte do texto */
    margin: 5px; /* Espaçamento entre os botões */
    background-color: #9B72D0; /* Cor de fundo dos botões aproximada para roxo */
    border: 1px solid #7E57C2; /* Borda dos botões aproximada para roxo */
    border-radius: 5px; /* Borda arredondada dos botões */
    cursor: pointer; /* Cursor do mouse ao passar sobre os botões */
    color: #FFFFFF; /* Cor dos números (texto) alterada para branco */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo dos botões */
}

/* Efeito de hover nos botões */
.botao:hover {
    background-color: #7E57C2; /* Cor de fundo dos botões ao passar o mouse aproximada para roxo */
}
</style>

<script>
    function insert(num) {
        var numero = document.getElementById('resultado').innerHTML;
        document.getElementById('resultado').innerHTML = numero + num;
    }
    
    function clean() {
        document.getElementById('resultado').innerHTML = "";
    }
    
    function back() {
        var resultado = document.getElementById('resultado').innerHTML;
        document.getElementById('resultado').innerHTML = resultado.substring(0, resultado.length - 1);
    }
    
    function calcular() {
        var resultado = document.getElementById('resultado').innerHTML;
        if (resultado) {
            document.getElementById('resultado').innerHTML = eval(resultado);
        } else {
            document.getElementById('resultado').innerHTML = "Nada..."
        }
    }    
</script>

<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora Básica</h1>
    <p id="cor-letra-banner">Faça seus cálculos aqui</p>
</div>

    <div class="container">
        <p id="resultado"></p>
        <table>
            <tr>
                <td><button class="botao" onclick="clean()">C</button></td>
                <td><button class="botao" onclick="back()"><</button></td>
                <td><button class="botao" onclick="insert('/')">/</button></td>
                <td><button class="botao" onclick="insert('*')">X</button></td>
            </tr>
            <tr>
                <td><button class="botao" onclick="insert('7')">7</button></td>
                <td><button class="botao" onclick="insert('8')">8</button></td>
                <td><button class="botao" onclick="insert('9')">9</button></td>
                <td><button class="botao" onclick="insert('-')">-</button></td>
            </tr>
            <tr>
                <td><button class="botao" onclick="insert('4')">4</button></td>
                <td><button class="botao" onclick="insert('5')">5</button></td>
                <td><button class="botao" onclick="insert('6')">6</button></td>
                <td><button class="botao" onclick="insert('+')">+</button></td>
            </tr>
            <tr>
                <td><button class="botao" onclick="insert('1')">1</button></td>
                <td><button class="botao" onclick="insert('2')">2</button></td>
                <td><button class="botao" onclick="insert('3')">3</button></td>
                <td rowspan="2"><button class="botao" style="height: 132px;" onclick="calcular()">=</button></td>
            </tr>
            <tr>
                <td colspan="2"><button class="botao" style="width: 132px;" onclick="insert('0')">0</button></td>
                <td><button class="botao" onclick="insert('.')">.</button></td>
            </tr>
        </table>
    </div>
{% endblock content %}
