<!-- calculator/calc_loan.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Calculadora de Empréstimo
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Calculadora de Empréstimo</h1>
    <p id="cor-letra-banner">Cálculo de empréstimo</p>
</div>
<div class="text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Calcular</button>
    </form>
    {% if pagamento_mensal %}
    <h2>Pagamento Mensal Estimado: R$ {{ pagamento_mensal }}</h2>
    {% endif %}
</div>

<div class="container mt-5">
    <p style= "margin-top:5%; font-size: 18px; color: #666">
        Sabe quando você precisa pegar dinheiro emprestado, mas quer entender direitinho quanto vai pagar por mês? É aí que entra a calculadora de empréstimo! Ela é uma ferramenta que te ajuda a calcular o valor das parcelas do seu empréstimo, levando em conta o valor total do empréstimo, a taxa de juros e o prazo de pagamento. Assim, você consegue ter uma ideia clara de quanto vai precisar desembolsar mensalmente para quitar sua dívida. É como ter um guia para te ajudar a planejar suas finanças de forma mais tranquila! Experimente nossa calculadora de empréstimo e descubra como fazer seus planos financeiros de forma mais precisa!
    </p>
</div>
{% endblock content %}
