/* Container para posicionar elementos relativos */
.container {
    position: relative;
}

/* Estilizando o visor do resultado */
#resultado {
    position: absolute; /* Posicionamento absoluto para sobrepor outros elementos */
    top: -60px; /* Posiciona o visor acima da calculadora */
    width: 98%;
    height: 50px;
    font-size: 24px;
    font-family: Arial, sans-serif; /* Fonte do texto */
    text-align: center; /* Alinhamento do texto */
    background-color: #AECAE7; /* Cor de fundo do visor */
    border: 1px solid #74a3c9; /* Borda do visor */
    border-radius: 5px; /* Borda arredondada */
    box-sizing: border-box; /* Garante que a altura do visor não adicionará espaço extra */
    padding: 5px; /* Espaçamento interno do visor */
}

/* Estilizando a tabela da calculadora */
table {
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    margin-top: 80px; /* Adiciona um espaço entre o visor e a calculadora */
}

/* Estilizando os botões da calculadora */
.botao {
    width: 60px; /* Largura dos botões */
    height: 60px; /* Altura dos botões */
    font-size: 24px; /* Tamanho da fonte dos botões */
    font-family: Arial, sans-serif; /* Fonte do texto */
    margin: 5px; /* Espaçamento entre os botões */
    background-color: #AECAE7; /* Cor de fundo dos botões */
    border: 1px solid #74a3c9; /* Borda dos botões */
    border-radius: 5px; /* Borda arredondada dos botões */
    cursor: pointer; /* Cursor do mouse ao passar sobre os botões */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo dos botões */
}

/* Efeito de hover nos botões */
.botao:hover {
    background-color: #74a3c9; /* Cor de fundo dos botões ao passar o mouse */
}
