<!DOCTYPE html>
<html>
<head>
    <title>Lista de Despesas</title>
</head>
<body>
    <h1>Lista de Despesas</h1>
    <ul>
        {% for expense in expenses %}
            <li>{{ expense.title }} - R$ {{ expense.amount }} - {{ expense.date }} <a href="{% url 'delete_expense' expense.id %}">Excluir</a></li>
        {% endfor %}
    </ul>
    <p>Total de Despesas: R$ {{ total_expenses }}</p>

    <form action="{% url 'confirm_delete_expenses' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Excluir Todas as Despesas">
    </form>
    
    <button onclick="window.location.href='{% url 'add_expense' %}'">Adicionar Despesa</button>
    <a href="{% url 'calculator' %}">Calculadora</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
