<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Despesas</title>
</head>
<body>
    <h1>Lista de Despesas</h1>

    <!-- Formulário para atualizar a renda mensal -->
    <form action="{% url 'expense_list' %}" method="post">
        {% csrf_token %}
        <label for="salary">Renda Mensal:</label>
        <input type="text" id="salary" name="salary" placeholder="Insira sua renda mensal">
        <input type="submit" value="Atualizar">
    </form>

    <!-- Exibe a renda mensal -->
    {% if salary %}
    <p>Renda Mensal: R$ {{ salary }}</p>
    {% endif %}

    <!-- Exibe o total das despesas -->
    <p>Total de Despesas: R$ {{ total_expenses }}</p>

    <!-- Exibe a diferença -->
    {% if difference is not None %}
    <p>Renda mensal após pagamento das despesas: R$ {{ difference }}</p>
    {% endif %}

    <ul>
        <!-- Loop sobre todas as despesas -->
        {% for expense in expenses %}
            <!-- Exibe cada despesa com seu título, valor e data, e um link para excluí-la -->
            <li><a href="{% url 'delete_expense' expense.id %}">Excluir</a> - {{ expense.title }} - R$ {{ expense.amount }} - {{ expense.payment_method }} - {{ expense.date }} - {{ expense.observation }}</li>
        {% endfor %}
    </ul>

    <!-- Formulário para excluir todas as despesas -->
    <form action="{% url 'confirm_delete_expenses' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Excluir Todas as Despesas">
    </form>
    
    <!-- Botão para adicionar uma nova despesa -->
    <button onclick="window.location.href='{% url 'add_expense' %}'">Adicionar Despesa</button>

    <!-- Link para a página de boas-vindas -->
    <a href="{% url 'welcome' %}">Página inicial</a>

</form>
    
</body>
</html>
