<!-- expenses/expense_list.html -->
{% extends 'base-3.html' %}

{% load static %}

{% block page_title %}
    Lista de Despesas
{% endblock page_title %}

{% block content %}
<!-- Token CSRF para proteção contra ataques CSRF -->
{% csrf_token %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Lista de Despesas</h1>
    <p id="cor-letra-banner">Veja aqui sua lista de despesas, total de despesas, renda mensal e despesas por categoria.</p>
</div>

<div class="text-center" style="padding-top: 30px;">
    <h2>Insira sua renda mensal</h2>
    <!-- Formulário para atualizar a renda mensal -->
    <form action="{% url 'expense_list' %}" method="post">
        {% csrf_token %}
        <label for="salary">Renda Mensal:</label>
        <input type="text" id="salary" name="salary" placeholder="Insira sua renda mensal">
        <button class="btn btn-warning" type="submit">Atualizar</button>
        <!-- Exibe mensagem de erro -->
        {% if request.method == 'POST' %}
            {% if not salary %}
                <p style="color: red;">Por favor, insira um valor válido para a renda mensal.</p>
            {% endif %}
        {% endif %}
    </form>

    <!-- Exibe a renda mensal -->
    {% if salary %}
    <p>Renda Mensal: R$ {{ salary }}</p>
    {% endif %}

    <!-- Exibe o total das despesas -->
    <p>Total de Despesas: R$ {{ total_expenses }}</p>

    <!-- Exibe a diferença -->
    {% if difference is not None %}
    {% if difference >= 0 %}
        <p style="color: green;">Renda mensal após pagamento das despesas: R$ {{ difference }}</p>
    {% else %}
        <p style="color: red;">Renda mensal após pagamento das despesas: <span style="color: red;">R$ {{ difference }}</span> <span style="color: red;">(Renda negativa)</span></p>
    {% endif %}
{% endif %}
</div>

<h3 class="text-center" style="padding-top: 50px;">Lista de Despesas</h3>
<!-- Tabela da lista de despesas -->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Título</th>
                <th scope="col">Valor</th>
                <th scope="col">Forma de Pagamento</th>
                <th scope="col">Data</th>
                <th scope="col">Observação</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop sobre todas as despesas -->
            {% for expense in expenses %}
            <tr>
                <!-- Exibe cada despesa com seu título, valor e data, e um botão para excluí-la -->
                <td>{{ expense.expense_category }}</td>
                <td>{{ expense.title }}</td>
                <td>R$ {{ expense.amount }}</td>
                <td>{{ expense.payment_method }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.observation }}</td>
                <td>
                    <form action="{% url 'delete_expense' expense.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center" style="margin-bottom:3%">
    {% if year and month %}
        <p>
            <a href="{% if month > 1 %}{% url 'expense_list_month' year=year month=month|add:'-1' %}{% else %}{% url 'expense_list_month' year=year|add:'-1' month=12 %}{% endif %}">&lt; Mês Anterior</a> |
            <a href="{% if month < 12 %}{% url 'expense_list_month' year=year month=month|add:'1' %}{% else %}{% url 'expense_list_month' year=year|add:'1' month=1 %}{% endif %}">Próximo Mês &gt;</a>
        </p>
    {% endif %}
</div>    

<div class="text-center">
    <!-- Botão para adicionar uma nova despesa -->
    <button class="btn btn-warning" onclick="window.location.href='{% url 'add_expense' %}'">Adicionar Despesa</button>
</div>

<div>
    <div class="col-6 mx-auto">
        <h4 class="text-center" style="padding-top: 50px;">Soma das despesas por categoria:</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Categoria</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop sobre todas as categorias de despesas -->
                    {% for category in expenses_by_category %}
                    <tr>
                        <!-- Exibe cada categoria com o total de despesas -->
                        <td>{{ category.expense_category }}</td>
                        <td>R$ {{ category.total_amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="text-center" style="margin-top: 50px;">
    <!-- Botão para excluir todas as despesas -->
    <button class="btn btn-warning" data-toggle="modal" data-target="#confirmDeleteModal">Excluir Todas as Despesas</button>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir todas as suas despesas? Esta ação não pode ser desfeita!
            </div>
            <div class="modal-footer">
                <form id="deleteAllForm" action="{% url 'delete_all_expenses' %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir Todas</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
