<!-- staticpages/about.html -->
{% extends 'base-1.html' %}

{% load static %}

{% block page_title %}
    Sobre
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Projeto Integrador Univesp</h1>
    <p id="cor-letra-banner">Projeto integrador de Computação I e II - 2024</p>
</div>
    <!-- Seção "Sobre" -->
<div class="container mt-5">
    <h1 class="text-center" style="color: var(--fundo-banner); margin-top:10%; margin-bottom:2%; font-size: 45px;">Sobre o Projeto</h1>
    <p style= "margin-bottom:5%; font-size: 18px">
        <!-- Texto sobre o projeto -->
        <h2 class="text-center" style="color: var(--fundo-banner); margin-top:1%; margin-bottom:2%; font-size: 20px;">Projeto Integrador I</h2>
        Este site é um projeto integrador desenvolvido por alunos do eixo de computação da turma de 2022 da Univesp (Universidade Virtual do Estado de São Paulo), orientado pela Professora Jucilene Moura de Almeida, e resultou na criação de um software com framework web que integra conceitos de banco de dados e controle de versão. Com um empenho coletivo, os alunos aplicaram habilidades teóricas em um contexto prático. A colaboração e o trabalho em equipe foram fundamentais para o sucesso do projeto, demonstrando não apenas competência técnica, mas também o valor da união e da determinação compartilhada.
    </p>

    <p style= "margin-bottom:5%; font-size: 18px">
        <h2 class="text-center" style="color: var(--fundo-banner); margin-top:1%; margin-bottom:2%; font-size: 20px;">Projeto Integrador II</h2>
        Nesta segunda parte do projeto, estamos sendo orientados pelo Professor Blaha Gregory Correia dos Santos Goussain. Dando continuidade ao primeiro projeto, nossa equipe expandiu a aplicação original com a implementação de um script web (JavaScript), integração com a nuvem, uso de API e melhorias na acessibilidade. Através de um esforço colaborativo, os alunos puderam aplicar suas habilidades teóricas em um contexto prático, enriquecendo a experiência do usuário e garantindo que a aplicação fosse acessível a todos.
    </p>

    <!-- Registro acadêmico -->
<div class="container mt-5">
    <h1 class="text-center" style="color: var(--fundo-banner); margin-top:10%; margin-bottom:2%; font-size: 35px;">Registro Acadêmico</h1>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">R.A.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EDNALDO PEREIRA COSTA</td>
                        <td>2230626</td>
                    </tr>
                    <tr>
                        <td>ELVIS CARLOS CICCHETO</td>
                        <td>2214798</td>
                    </tr>
                    <tr>
                        <td>GIOVANNA SILVESTRE SILVA</td>
                        <td>2203048</td>
                    </tr>
                    <tr>
                        <td>JOBSON APARECIDO DOS SANTOS</td>
                        <td>2202123</td>
                    </tr>
                    <tr>
                        <td>LEONARDO MARQUES SOUZA</td>
                        <td>2212764</td>
                    </tr>
                    <tr>
                        <td>LUCIANO MONTEIRO CAPRARA</td>
                        <td>2230054</td>
                    </tr>
                    <tr>
                        <td>MATHEUS DE OLIVEIRA SANTOS</td>
                        <td>2211017</td>
                    </tr>
                    <tr>
                        <td>TATIANE COSTA BORDINHÃO</td>
                        <td>2202013</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}
