<!-- staticpages/news1.html -->
{% extends 'base-1.html' %}

{% load static %}

{% block page_title %}
    Orçamento pessoal
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Notícias</h1>
    <p id="cor-letra-banner">Fique atualizado com notícias de investimentos e negócios</p>
</div>

    <!-- Seção "Notícias" -->
    <style>
        /* Estilo para a classe 'titulo' */
        .titulo {
          color: var(--fundo-banner);
          font-size: 18px;
        }
      </style>

<!-- Logo -->
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3%;">
    <img style="max-width: 100%;" src="{% static 'img/noticia.jpg' %}" alt="logo">
</div>

<div class="container mt-5">
    <h2 class="text-center" style="color: black; margin-top:5%; margin-bottom:2%; font-size: 35px;"><span style="background-color: #d9d2e9;">Orçamento pessoal</span></h2>
    <p style= "margin-bottom:2%; font-size: 18px">
        O orçamento pessoal é uma ferramenta financeira indispensável quando falamos sobre
        controle financeiro pessoal, ajudando as pessoas a controlarem suas finanças e a
        alcançarem seus objetivos financeiros. Basicamente, um orçamento pessoal é um plano
        detalhado que estabelece quanto dinheiro uma pessoa ganha ou recebe e como esse
        dinheiro será gasto durante um período específico, geralmente mensal.

        <p style= "margin-bottom:2%; font-size: 18px">
        Existem várias maneiras de monitorar as finanças, mas vou destacar cinco passos iniciais:</p>

        <div class="conteudo" style="margin-left: 40px;">
            <span class="titulo"><strong>1. Divida o orçamento, se necessário:</strong></span>
            <p style="font-size: 18px; margin-bottom: 4%;">
                Se você compartilha a casa com outras pessoas, é justo dividir as despesas mensais de acordo com os salários de cada um. Defina um valor equitativo a ser contribuído mensalmente com base na situação financeira de todos os envolvidos.
            </p>
        </div>

        <div class="conteudo" style="margin-left: 40px;">
            <span class="titulo"><strong>2. Registre todas as suas despesas:</strong></span>
            <p style="font-size: 18px; margin-bottom: 4%;">
                Utilize ferramentas como o Bolso Controlado, anote em papel ou utilize aplicativos.
                É crucial registrar todas as despesas, mesmo as pequenas, como um sorvete, por
                exemplo.
            </p>
        </div>

        <div class="conteudo" style="margin-left: 40px;">
            <span class="titulo"><strong>3. Calcule todas as fontes de renda:</strong></span>
            <p style="font-size: 18px; margin-bottom: 4%;">
                Muitas vezes, não nos atentamos ao valor total de dinheiro que entra,
                especialmente para aqueles com rendas variáveis. Registre de onde esse dinheiro
                vem, como salários, horas extras, rendimentos de investimentos, entre outros.
            </p>
        </div>
        
        <div class="conteudo" style="margin-left: 40px;">
            <span class="titulo"><strong>4. Utilize o Bolso Controlado:</strong></span>
            <p style="font-size: 18px; margin-bottom: 4%;">
                O Bolso Controlado é uma ferramenta valiosa para acompanhar as entradas e
                saídas de dinheiro. Com ele, você tem acesso a uma planilha pronta para manter um
                controle organizado de suas finanças.
            </p>
        </div>

        <div class="conteudo" style="margin-left: 40px;">
            <span class="titulo"><strong>5. Estabeleça objetivos:</strong></span>
            <p style="font-size: 18px; margin-bottom: 4%;">
                Todos nós temos metas para o futuro, como a compra de uma casa, uma viagem
                no final do ano, investimentos ou casamento. É importante salientar que esses
                objetivos devem ter prazos:
                <br>
                - Curto prazo: até 6 meses;
                <br>
                - Médio prazo: entre 1 e 5 anos;
                <br>
                - Longo prazo: mais de 5 anos.
                </p>
        </div>

            <p style= "margin-bottom:2%; font-size: 18px">
            Esses passos são importantes para uma saúde financeira sólida.</p>

            <h3 class="text-center" style="color: black; margin-top:5%; margin-bottom:2%; font-size: 35px;"><span style="background-color: #d9d2e9;">Reserva Emergencial</span></h3>

            <p style= "margin-bottom:2%; font-size: 18px">
            Reserva emergencial é uma quantia que você reserva todos os meses para cobrir uma
            despesa inesperada ou uma emergência financeira. A reserva emergencial é importante
            para ter um financeiro saudável.</p>

            <div class="conteudo" style="margin-left: 40px;">
                <span class="titulo"><strong>Onde posso reservar esse dinheiro?</strong></span>
                <p style="font-size: 18px; margin-bottom: 4%;">
                    Normalmente, as pessoas optam por reservar essa quantia em poupanças ou
                    em CDBs (Certificados de Depósito Bancário). O ideal é que esse dinheiro
                    fique em um local de fácil acesso para atender qualquer emergência que
                    possa surgir.
                </p>
            </div>

            <div class="conteudo" style="margin-left: 40px;">
                <span class="titulo"><strong>Quanto devo reservar?</strong></span>
                <p style="font-size: 18px; margin-bottom: 4%;">
                    Recomenda-se ter guardado de três a seis meses de despesas, mas isso
                    pode variar de pessoa para pessoa e não é uma regra absoluta.
                </p>
            </div>

            <div class="conteudo" style="margin-left: 40px;">
                <span class="titulo"><strong>Como montar uma reserva de emergência?</strong></span>
                <p style="font-size: 18px; margin-bottom: 4%;">
                    Você pode começar separando uma pequena parte da sua renda mensal e
                    construir gradualmente um valor significativo.
                </p>
            </div>

            <h4 class="text-center" style="color: black; margin-top:5%; margin-bottom:2%; font-size: 35px;"><span style="background-color: #d9d2e9;">Investimentos</span></h4>

            <p style= "margin-bottom:2%; font-size: 18px">
            Investimento é o ato de alocar recursos financeiros, como dinheiro, tempo ou esforço, em
            um ativo ou empreendimento com o objetivo de obter retornos financeiros futuros. Esses
            retornos podem ser na forma de lucros, juros, dividendos ou valorização do ativo ao longo
            do tempo. Existem diversos tipos de investimentos, incluindo ações, títulos, fundos de
            investimento, imóveis, mercado Forex, mercado de commodities, criptomoedas, etc.</p>

            <p style= "margin-bottom:10%; font-size: 18px">
            Esses são apenas alguns exemplos de tipos de investimento, e cada um possui diferentes
            níveis de risco, potencial de retorno e horizonte de tempo. Importante ressaltar que não
            existe um investimento ideal, cada pessoa e cada situação pode necessitar de um
            investimento diferente de acordo com sua renda, situação atual e objetivos. Antes de aplicar
            seu dinheiro em algum investimento pesquise sobre e verifique se ele vai ser rentável para
            você.</p>
    </p>
</div>
{% endblock content %}
