<!-- staticpages/news2.html -->
{% extends 'base-1.html' %}

{% load static %}

{% block page_title %}
    Canal do YouTube
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Notícias</h1>
    <p id="cor-letra-banner">Fique atualizado com notícias de investimentos e negócios</p>
</div>

    <!-- Seção "Notícias" -->
    <style>
        /* Estilo para a classe 'titulo' */
        .titulo {
          color: var(--fundo-banner);
          font-size: 18px;
        }
      </style>

<!-- Logo -->
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3%;">
    <img style="max-width: 100%;" src="{% static 'img/noticia2.jpg' %}" alt="logo">
</div>

<!-- Texto aqui -->
<div class="container mt-5">
    <h2 class="text-center" style="color: black; margin-top:5%; margin-bottom:2%; font-size: 35px;"><span style="background-color: #d9d2e9;">Educação financeira e o Bolso Controlado</span></h2>
</div>

<style>
    @media only screen and (min-width: 820px) {
        .desktop-video iframe {
            width: 800px; /* Ajuste o tamanho conforme necessário */
            height: 450px; /* Ajuste o tamanho conforme necessário */
        }
    }
</style>

<div class="text-center">
    <div class="embed-responsive embed-responsive-16by9 desktop-video">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zDzI2gtCGuM" allowfullscreen></iframe>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center" style="color: black; margin-top:5%; margin-bottom:2%; font-size: 35px;"><span style="background-color: #d9d2e9;">Alimentação sustentável e o Bolso Controlado</span></h2>
</div>

<div class="text-center">
    <div class="embed-responsive embed-responsive-16by9 desktop-video">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y6vzBkHnuWc" allowfullscreen></iframe>
    </div>
</div>
{% endblock content %}
