<!-- staticpages/news.html -->
{% extends 'base-1.html' %}

{% load static %}

{% block page_title %}
    Notícias
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Notícias</h1>
    <p id="cor-letra-banner">Fique atualizado com notícias de investimentos e negócios</p>
</div>

<div class="container mt-5">
  <div class="row">
      <!-- Card de Notícia 1 -->
      <div class="col-lg-4 col-md-6 mb-4 card-custom">
          <div class="card h-100">
              <img class="card-img-top" src="{% static 'img/noticia.jpg' %}" alt="Notícia 1">
              <div class="card-body">
                  <h4 class="card-title">Orçamento pessoal</h4>
                  <p class="card-text">Leia sobre orçamento pessoal!</p>
              </div>
              <div class="card-footer">
                  <a href="{% url 'news1' %}" class="btn btn-warning">Leia Mais</a>
              </div>
          </div>
      </div>

      <!-- Card de Notícia 2 -->
      <div class="col-lg-4 col-md-6 mb-4 card-custom">
          <div class="card h-100">
              <img class="card-img-top" src="{% static 'img/noticia2.jpg' %}" alt="Notícia 2">
              <div class="card-body">
                  <h4 class="card-title">Canal do YouTube</h4>
                  <p class="card-text">Acompanhe nossos vídeos no YouTube!</p>
              </div>
              <div class="card-footer">
                  <a href="{% url 'news2' %}" class="btn btn-warning">Leia Mais</a>
              </div>
          </div>
      </div>
  </div>
</div>
  
      <!-- Adicione mais cards conforme necessário -->

  {% endblock content %}
