<!-- staticpages/welcome.html -->
{% extends 'base-1.html' %}

{% load static %}

{% block page_title %}
    Boas-vindas
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id ="banner">
  <h1 style="font-size: 55px; margin-bottom: -10px;" id="cor-letra-banner"><strong>Bem-vindo ao nosso site</strong></h1>
  <p style="font-size: 55px;" id="cor-letra-banner"><strong>de finanças pessoais</strong></p>
  <p style="font-size: 23px;" id="cor-letra-banner">Pequenas economias, grandes mudanças: seu futuro financeiro começa agora.</p>
</div>

<!-- Cards de funcionalidades -->
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 mb-3">
        <a href="{% url 'expense_list' %}" class="card mx-auto" style="text-decoration: none;">
          <div class="card-body text-center">
              <!-- Imagem de Planejamento Financeiro -->
              <img src="{% static 'img/dinheiro.png'%}" alt="Planejamento financeiro" class="card-img-top" style="width: 60%;">
              <h5 style="font-size: 20px;" class="card-title"><strong>Suas despesas</strong></h5>
              <h6 style="font-size: 15px;" class="card-text">Alcance seus objetivos financeiros com planejamento</h6>
          </div>
      </a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="{% url 'calc_list' %}" class="card mx-auto" style="text-decoration: none;">
          <div class="card-body text-center">
              <!-- Imagem de Calculadora Financeira -->
              <img src="{% static 'img/img-calc.png'%}" alt="Calculadora financeira" class="card-img-top" style="width: 50%;">
              <h5 style="font-size: 20px;" class="card-title"><strong>Calculadora financeira</strong></h5>
              <h6 style="font-size: 15px;" class="card-text">Calcule suas prestações, empréstimos e aplicações</h6>
          </div>
      </a>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-3">
          <a href="{% url 'news' %}" class="card mx-auto" style="text-decoration: none;">
            <div class="card-body text-center">
                <!-- Imagem de Notícias -->
                <img src="{% static 'img/grafico.png'%}" alt="Notícias" class="card-img-top" style="width: 50%;">
                  <h5 style="font-size: 17px;" class="card-title"><strong>Notícias</strong></h5>
                  <p style="font-size: 15px;" class="card-text">Fique atualizado com notícias de investimentos e negócios</p>
            </div>
        </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'about' %}" class="card mx-auto" style="text-decoration: none;">
            <div class="card-body text-center">
                <!-- Imagem de Sobre -->
                <img src="{% static 'img/luz.png'%}" alt="Sobre" class="card-img-top" style="width: 60%;">
                  <h5 style="font-size: 17px;" class="card-title"><strong>Sobre</strong></h5>
                  <p style="font-size: 15px;" class="card-text">Entenda um pouco sobre este projeto</p>
            </div>
        </a>
        </div>
    </div>
</div>

<!-- Divisor horizontal -->
<div class="divisor-horizontal"></div>

<!-- Seção "Sobre o Bolso Controlado" -->
<div class="container mt-5">
    <h1 class="text-center" style="color: var(--fundo-banner); margin-top:10%; margin-bottom:2%; font-size: 45px;">Sobre o Bolso Controlado</h1>
    <p style= "margin-bottom:5%; font-size: 18px">
        <!-- Texto sobre o Bolso Controlado -->
        O Bolso Controlado é um site de finanças pessoais que nasceu de uma iniciativa universitária.
        Nosso objetivo principal é fornecer uma plataforma acessível e intuitiva para ajudar as pessoas
        a gerenciarem melhor suas finanças pessoais.
        Em um mundo onde o controle financeiro é essencial,
        queremos oferecer uma ferramenta que simplifique o processo de acompanhamento de despesas, economias e metas financeiras. Com o Bolso Controlado, os usuários podem monitorar seus gastos, estabelecer orçamentos, definir metas de economia.
        Nosso compromisso vai além de apenas fornecer uma plataforma; queremos capacitar as pessoas com conhecimento financeiro
        e ajudá-las a tomar decisões informadas sobre seu dinheiro. Com recursos educacionais e dicas práticas, buscamos criar
        uma comunidade onde todos possam aprender e crescer juntos financeiramente.
        Estamos entusiasmados em embarcar nesta jornada com você e estamos aqui para ajudar a colocar seu bolso sob controle,
        para que você possa alcançar seus objetivos financeiros com confiança e tranquilidade.
    </p>
</div>

<!-- Logo -->
<div style="display: flex; flex-direction: column; align-items: center;">
<img width="350px" src="{% static 'img/bolso-controlado-img.png'%}" alt="logo">
</div>
{% endblock content %}
