<!-- shopping_list/shopping_list.html -->
{% extends 'base-5.html' %}

{% load static %}

{% block page_title %}
    Lista de Compras
{% endblock page_title %}

{% block content %}
<!-- Banner -->
<div id="banner">
    <h1 id="cor-letra-banner">Lista de Compras</h1>
    <p id="cor-letra-banner">Crie sua lista de compras aqui!</p>
</div>
  
<style>
    .card {
        width: 100%; /* Card ocupa largura total */
        max-width: 1000px; /* Opcional: Limitar a largura máxima */
        padding: 20px; /* Ajuste o padding interno do card */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de compras de {{ user.username }}</h1>
    
    <div class="card p-4 shadow-sm">
        <!-- Exibir Mensagens de Erro -->
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <!-- Formulário para adicionar uma nova tarefa -->
        <form action="{% url 'task_add' %}" method="post" class="d-flex justify-content-between mb-3">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Adicione aqui!" class="form-control" required>
            <button type="submit" class="btn btn-warning ms-2">Adicionar</button>
        </form>


        <!-- Lista de Tarefas -->
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ task.title }}
                <form action="{% url 'task_delete' task.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                </form>
            </li>
            {% empty %}
            <p class="text-center text-muted">Nenhuma tarefa encontrada.</p>
            {% endfor %}
        </ul>
    </div>

    <!-- Formulário para apagar todas as tarefas -->
    <div class="text-center mb-3" style="margin-top:2%">
        <form action="{% url 'task_delete_all' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Apagar toda a lista</button>
        </form>
    </div>
</div>
{% endblock content %}
